/*CSS Initial Resets*/
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

/*Basic Body Config*/
    body {    
        /*the default body has margin and a small viewport
        compared to the html size, so we do the above:*/
        margin: 0px;
        height: 100vh;
        /**/
        display: flex;
        flex-direction: column;
    }

/*Main Area*/
    .mainArea {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 90%;
        padding-top: 32px;
    }

/*Calculator board*/
    .calculatorBoard {
        outline: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        height: 75%;
        width: 25%;
        background-color: #8eddbe;
    } 

/*Calculator entry field*/
    .entryDisplay{
        outline: 2px solid rebeccapurple;
        padding: 8px 2px;    
        margin-top: 8px;    
    }

/*Calculator buttons*/

/*Footer*/
    footer{
        margin-top: auto;
    }