/*Font Family*/
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

/*CSS Initial Resets*/
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

/*Basic Body Config*/
    body {    
        /*the default body has margin and a small viewport
        compared to the html size, so we do the above:*/
        margin: 0px;
        height: 100vh;
        /**/
        display: flex;
        flex-direction: column;
    }

/*Main Area*/
 .mainArea {
    background-color: rgb(20,19,19);
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 }

 h1 {
    color: white;
 }

 /*Calculator Board*/
    .calculatorBoard {
        background-color: #8eddbe;
        outline: 2px solid green;
        border-radius: 3%;
        width: 300px;
        height: 350px;
    }

/*Entry display*/
    .entryDisplay {
        font-family: 'Space Mono', serif;
        font-size: xx-large;
        color: green;
        border-radius: 10%;
        text-align: right;
        background-color: rgb(39,36,36);
        padding: 8px;
        width: 260px;
        height: 60px;
        margin: 20px;
    }

/*Buttons*/
    .buttonsContainer {
        display: grid;
        justify-content: center;
        grid-template-columns: 50px 50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px;
        grid-template-areas:
            "_7 _8 _9 sum"
            "_4 _5 _6 minus"
            "_1 _2 _3 multiply"
            "ac _0 result divide";
        gap: 10px;
    }

    .buttonsContainer>* {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5%;
    }

    .operator,
    .allClear {
        background-color: orange;
    }
    .number {
        background-color: beige;
    }
    .result {
        background-color: greenyellow;
        grid-area: result;
    }
    .allClear {
        background-color: rgb(187, 38, 38);
        grid-area: ac;
    }

    .sum {
        grid-area: sum;
    }
    .minus {
        grid-area: minus;
    }
    .multiply {
        grid-area: multiply;
    }
    .divide {
        grid-area: divide;
    }
    
/*buttons hover*/
    .number:hover {
        background-color: rgb(187, 187, 165);
    }
    .operator:hover{
        background-color: rgb(197, 129, 2);
    }
    .result:hover{
        background-color: rgb(120, 177, 34);
    }
    .allClear:hover {
        background-color: rgb(133, 26, 26);
    } 

/*Footer*/
    footer{
        padding: 16px;
        text-align: center;
        background-color: antiquewhite;
        margin-top: auto;
    }